.landing2 {
  position: relative;
  background: url(../../assets/rescover.jpg) no-repeat center center/cover;
  height: 25vh;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.x-largeLogo2 {
  font-size: 4rem;
  margin-top: 200px;
  background: #ffffff;
  color: black;
  padding: 10px;
  line-height: 1.2;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.centerImage2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px
}
.lead2 {
  font-size: 1.5rem;
  
  color: #333333;
}
.aReview {
  color: rgb(214, 214, 31);
  text-decoration: none;
  /* padding: 20
px
; */
  font-size: 25px;

}
.containercenter {
  margin-top: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .containerBBU {
    display: grid;
    /* grid-template-columns: 400px 400px 10px; */
    /* justify-content: center; */
    padding: 40px;
    align-items: center;
    grid-gap: 10px;
  
  }
  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .btnUser {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #fefeff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.4375rem 0.75rem;
    font-size: 1.75rem;
    border-radius: 4px;
    transition: color 0.15s ease-in-out;
    color: #FFFFFF;
    background-color: #343a40 !important;
    border-color: #343a40;
  }
  .logoname {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
    font-size: 3rem;
    color: #343a40;
  }
  .logoname2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
    font-size: 1rem;
    color: #343a40;
  }