.containerOfForm {
  position: relative;
  height: 350px;
  overflow-y: scroll;
}
.containerOfForm::-webkit-scrollbar {
  display: none;
}
.SubmitedMessage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.SubmitedMessage img {
  width: 100px;
}
.SubmitedMessage p {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: #00598d;
  margin-top: 20px;
}
.addDishForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addDishForm input {
  width: 100%;
  padding: 10px 5px;
  outline-color: #0575b4;
}
.inputWrapper {
  width: 100%;
  margin: 5px 0px;
}
.reqMessage {
  color: rgb(195, 195, 195);
  font-size: 0.75rem;
  margin-left: 5px;
}

.imageDropper {
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  border: 2px dashed #0575b4;
  height: 250px;
  width: 250px;
  margin: 30px 0px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorMsg {
  font-size: 0.7rem;
  color: #ff2b52;
}
.crossPopup {
  position: relative;
}
.crossPopup button {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: #0575b4;
  color: #fff;
}
.buttonsContainer {
  margin-bottom: 15px;
}
.tabButton {
  margin-right: 5px;
  border-radius: 0px !important;
  border-bottom: 1px solid #0575b4 !important;
}
.imageUpPlaceholder {
  width: 100px;
  margin-bottom: 10px;
}
.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: #0575b4;
  margin-top: 20px;
}
.submitButton:hover {
  background: #197db7;
}
.selectVariations {
  width: 100% !important;
  height: 30px;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0px 7px;
  background-color: #0575b4;
  color: #fff;
}
.selectVariationContainerMain {
  padding: 0px 10px;
  overflow-y: scroll;
  height: 45vh;
}
.selectVariationContainerMain::-webkit-scrollbar {
  display: none;
}
.selectVariationContainer {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(219, 219, 219);
  padding: 25px 10px 10px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.selectVariationAddMoreButtonContainer {
  position: absolute;
  right: 5px;
  top: 5px;
}
.addActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  font-weight: 500;
  color: #fff;
  background-color: #5392b7;
  border-radius: 5px;
  padding: 2px 2px;
  box-shadow: 0 0 5px #000;
  outline: none;
}
.addActionButton {
  border: none;
}
.selectVariationsOption {
  padding: 5px;
  box-shadow: 0 0 10px #ddd;
  outline: none;
}
.deleteActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  font-weight: 500;
  color: #fff;
  background-color: #ff2b52;
  border-radius: 5px;
  padding: 2px 2px;
}
.incrementButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.incBtn {
  width: 20px;
  height: 20px;
  background-color: green;
  color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  height: 30px;
  width: 30px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deccBtn {
  width: 20px;
  height: 20px;
  background-color: #ff2b52;
  color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
