.singleColumn {
  position: relative;
  overflow-y: scroll;
  border-right: 1px solid rgb(213, 213, 213);
  padding: 0 10px;
  height: 80vh;
}
.mainColumnContainer {
  padding-left: 15px;
}
.singleColumn::-webkit-scrollbar {
  display: none;
}

.menuCardButton {
  width: 90% !important;
  background-color: #0a6ebf !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  margin: 5px 0px !important;
  align-items: center !important;
  flex-direction: column !important;
  height: 90px !important;
}
.menuCardButton2 {
  height: 50px !important;
  width: 100% !important;
  background-color: #f34d4d !important;
  color: #fff !important;
  margin: 5px 0px !important;
}
.columnTitle {
  color: #aaa;
  text-align: center;
  margin-bottom: 20px;
}
