.statusInactive {
  color: rgb(255, 0, 0);
  border-radius: 30px;
  padding: 2px 10px;
  display: block;
  text-align: center;
  background-color: rgba(255, 172, 172, 0.956);
}
.statusActive {
  color: rgb(0, 169, 22);
  border-radius: 30px;
  padding: 2px 10px;
  display: block;
  text-align: center;
  background-color: rgba(176, 255, 172, 0.956);
}
