.crossPopup {
  position: relative;
}
.crossPopup button {
  position: relative;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: #0575b4;
  color: #fff;
}
