.orderVariationContainer {
  height: 62vh;
  overflow-y: scroll;
}
.orderVariationContainer::-webkit-scrollbar {
  display: none;
}
.OrderAddToCardButton {
  position: absolute !important;
  bottom: 20 !important;
  width: 92% !important;
  background: #0575b4 !important;
  color: #fff !important;
}
